<div class="content">
    <div class="container">
		<div class="contact-box">
			<div class="left">
				<ul class="wrapper">
					<li class="icon facebook">
					  <span class="tooltip">Facebook</span>
					  <span><i class="fab fa-facebook-f"></i></span>
					</li>
					<li class="icon twitter">
					  <span class="tooltip">Twitter</span>
					  <span><i class="fab fa-twitter"></i></span>
					</li>
					<li class="icon instagram">
					  <span class="tooltip">Instagram</span>
					  <span><i class="fab fa-instagram"></i></span>
					</li>
				</ul>
			</div>
			<div class="right">
				<h2>Get in touch</h2>
				<input type="text" class="field" placeholder="Your Name">
				<input type="text" class="field" placeholder="Your Email">
				<input type="text" class="field" placeholder="Phone">
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
</div>

